---
import Footer from "@/components/shared/Footer.astro";
import NavBar2 from "@/components/shared/NavBar2.astro";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<html lang="en" class="">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<NavBar2 />
		<main class="max-w-6xl px-4 m-auto">
			<slot />
		</main>
		<Footer />
	</body>

	<!-- <style is:global>
		html {
			font-family: system-ui, sans-serif;
			background: #0f172a;
			color: aliceblue;
			color-scheme: dark light;
		}
	</style>
</html> -->
</html>
